<div class="container px-0" id="<%= dom_id listing %>">

    <legend class="style-legend">
      <a href="javascript:history.back()"><span class="greyed-out">Pick a style </span></a>
      <span class="greyed-in">> </span></a>
      <a href="javascript:history.back()"><span class="greyed-out">Pick a room</span></a>
      <span class="greyed-in">> </span></a>
      <span class="greyed-in">Pick a design</span></a>
      <span class="greyed-inactive">> Payment</span>
    </legend>

    <div class="row">
          <div class="col-12 col-lg-8 mb-3 ps-0 space-between">
            <div class="template-title-div">
              <h2 class="pt-4"><%= listing.name %> </h2>
            </div>
            <div class="arrows-template">
              <span class="control-button"> <i class="fa-solid fa-arrow-left-long"></i></span><span>&nbsp;&nbsp;</span><span class="control-button"> <i class="fa-solid fa-arrow-right-long"></i></span>
            </div>
          </div>
    </div>




    <div class="row preset-div">
  <div class="col-12 col-lg-8 ps-0">
    <div class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% listing.photos.each_with_index do |photo, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% listing.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= cl_image_tag photo.key, class: "preset-main-image", :crop => "fill" %>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= listing.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= listing.short_description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= listing.duration %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= listing.capacity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

</div>
