<div class="container px-0" id="<%= dom_id listing %>">

    <legend class="style-legend">
      <a href="javascript:history.back()"><span class="greyed-out">Wedding Halls</span></a>
      <span class="greyed-in">> </span></a>
      <span class="greyed-in"><%= listing.name %></span></a>
      <span class="greyed-inactive">> Payment</span>
    </legend>

    <div class="row">
          <div class="col-12 col-lg-8 mb-3 ps-0 space-between">
            <div class="template-title-div">
              <h2 class="pt-4"><%= listing.name %> </h2>
            </div>
          </div>
    </div>



    <div class="row preset-div">

      <div class="col-12 col-lg-8 ps-0">

          <!-- Display the first 5 photos -->
          <!-- Add a section to display the photos -->
        <section class="gallery">
          <% if listing.photos.attached? %>
            <% listing.photos.limit(4).each_with_index do |photo, index| %>
              <!-- Display the photo -->
              <div class="gallery__item_continer">
                <div class="gallery__item">
                  <% if index == 0 %>
                    <input type="radio" id="img-<%= index + 1 %>" checked name="gallery" class="gallery__selector"/>
                  <% else %>
                    <input type="radio" id="img-<%= index + 1 %>" name="gallery" class="gallery__selector"/>
                  <% end %>
                  <%= cl_image_tag photo.key, class: "gallery__img" %>
                  <label for="img-<%= index + 1 %>" class="img-lable"><%= cl_image_tag photo.key, class: "gallery__thumb" %></label>
                </div>
              </div>
            <% end %>

            <!-- Add a link to view more photos -->
              <% if listing.photos.size > 4 %>
                <div class="view-more">
                  <%# <%= link_to "+ #{listing.photos.size - 4} Photos", "#", class: "view-more__link", data: { target: "#gallery-all" }, style: "background-image: url(#{cl_image_path(listing.photos[4].key)})" %>
<%= link_to "+ #{listing.photos.size - 4} Photos", "#gallery-all", class: "view-more__link", data: { fancybox: true }, style: "background-image: url(#{cl_image_path(listing.photos[4].key)})" %>

                </div>
              <% end %>

          <% else %>
            <p>No photos to display.</p>
          <% end %>
        </section>

<!-- Add a hidden section to display all the photos -->
<section id="gallery-all" class="gallery-all " style="display: none;">
  <% if listing.photos.attached? %>
    <% listing.photos.each_with_index do |photo, index| %>
      <!-- Display the photo -->
      <div class="gallery__item_continer ">
        <div class="gallery__item">
          <% if index == 0 %>
            <input type="radio" id="img-<%= index + 1 %>" checked name="gallery" class="gallery__selector"/>
          <% else %>
            <input type="radio" id="img-<%= index + 1 %>" name="gallery" class="gallery__selector"/>
          <% end %>
          <%= cl_image_tag photo.key, class: "gallery__img" %>
          <label for="img-<%= index + 1 %>" class="gallery__thumb"><%= cl_image_tag photo.key, class: "gallery__thumb" %></label>
        </div>
      </div>
    <% end %>

    <!-- Add a link to view fewer photos -->
    <div class="view-more">
      <%= link_to "View Fewer Photos", url_for(anchor: "gallery"), class: "view-more__link" %>
    </div>
  <% else %>
    <p>No photos to display.</p>
  <% end %>

</section>


<!-- Add a script to toggle the display of the photo sections -->
<script>
  $(document).ready(function() {
    // Initialize Fancybox
    $('[data-fancybox]').fancybox({
  toolbar: false,
  smallBtn: true,
  transitionEffect: "fade",
  transitionDuration: 500,
  baseClass: "my-fancybox",
  thumbs: {
    autoStart: true
  }
});


    // Toggle the display of the photo sections
    $('.view-more__link').click(function() {
      $('.gallery').toggle();
      $('.gallery-all').toggle();
      return false;
    });
  });
</script>





      </div>

      <div class="col-12 col-lg-4">
        <form id="preset-form"
              action="/basket"
              method="GET"
              data-controller="count-item"
              class="h-100">

          <div class="h-100">
                <div data-controller="total-price" class="d-flex flex-column justify-content-between h-100">
                  <div class="preset-items pe-2">
                    <% listing.items.each do |item| %>
                      <div class="d-flex item-card align-items-center mb-2">
                        <% if item.photo.present? %>
                          <%= cl_image_tag item.photo.key, :width => 80, :height => 80, :crop => "fill", class: "item-image p-2" %>
                          <p class="mt-3 me-5 ps-2">
                            <span class="template-item-name"><%= item.name %></span>
                            <br>
                            <span class="template-item-description"><%= item.description %></span>
                          </p>
                          <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                            <div class="d-flex">
                              <button class="minus" type="button" data-action="click->count-item#minus click->total-price#update">-</button>
                              <input type="text" value="1" class="cart-input" name="<%= item.id %>" data-count-item-target="input" data-total-price-target="input">
                              <button class="plus" type="button" data-action="click->count-item#add click->total-price#update">+</button>
                            </div>
                            <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price"><%= item.price %></span></p>
                          </div>
                        <% end %>

                      </div>
                    <% end %>
                  </div>

                  <div class="total-template-price card_prire_bottun" style="position: relative;">
                    <div class="total", style="padding-left: 10px;" >Your total is : $ <span data-total-price-target="total" class="total-price">0</span></div>
  <%= link_to "Book now", bookings_path(booking: { date: @booking.date, user_id: current_user.id, listing_id: @listing.id }), data: {turbo_method: :post}, class: "button-red"%>                    <input type="submit" value="Submit" class="button" style="border:none">

                  </div>

                </div>
          </div>
        </form>
      </div>

    </div>



  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= listing.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= listing.short_description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= listing.duration %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= listing.capacity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

</div>
